<div class="container">
  <section class="container--options">
    <div class="container--with--title">
      <button class="button--title" mat-button [matMenuTriggerFor]="menu">
        <img
          class="button--title--image"
          src="icons/menu-burger.svg"
          alt="Visualize icon"
        />
      </button>
      <mat-menu #menu="matMenu" yPosition="below">
        @for (opt of exportOptions; track $index) {
        <button mat-menu-item (click)="exportBinaryTree(opt.format)">
          {{ opt.text }}
        </button>
        }
      </mat-menu>
      <h1>Binary tree visualizer</h1>
    </div>
    <!--Options-->
    <div class="container--options__options">
      <div class="container--with--title">
        <h4>Order</h4>
        <select [(ngModel)]="selectedOrder">
          @for (order of _orders; track $index) {
          <option [value]="order">{{ order }}</option>
          }
        </select>
      </div>
      <div class="container--with--title">
        <h4>Speed</h4>
        <input
          type="range"
          [min]="minSpeedAnimation"
          [max]="maxSpeedAnimation"
          [(ngModel)]="speedAnimation"
          [step]="stepAnimation"
        />
      </div>
      <button
        class="container--button"
        (click)="visualizeSelectedOrder()"
        [disabled]="visualizeButtonDisableFlag"
      >
        <img
          class="container--button--image"
          src="icons/play.svg"
          alt="Visualize icon"
        />
        Visualize
      </button>
      <button
        class="container--button"
        (click)="newRandomBinaryTree()"
        [disabled]="randomButtonDisableFlag"
      >
        <img
          class="container--button--image"
          src="icons/shuffle.svg"
          alt="Suffle icon"
        />
        Random
      </button>
      <button
        class="container--button"
        (click)="resetBinaryTreeStyle()"
        [disabled]="resetButtonDisableFlag"
      >
        <img
          class="container--button--image"
          src="icons/reset.svg"
          alt="Reset icon"
        />
        Reset
      </button>
    </div>
  </section>
  <!---->
  <div #cy style="width: 100%; height: 100%"></div>
</div>
